{%load static%}
<footer class="bg-dark text-light" style='position: relative;bottom: 0;width: 100%;'>
  <div class="container-fluid " dir="rtl">
    <div class="row text-center">
      <div class="col-md-6 ">
        <hr class="border-top my-3">
        <h4><img src="{%static 'SoftImage.png'%}" alt="" style="width:149px"></h4>
               <h3>العنوان</h3>
         <p>الرياض، المملكة العربية السعودية</p>
         <p>اتصل بناء:92 000 4371 – 055 300 3126</p>
         <p>Emal:info@softimageadv.com</p>
         <hr class="border-top my-3">
      </div>
      <div class="col-md-6 ">
        <hr class="border-top my-3">
        <h4><img src="{%static 'Mustbeelogo.png'%}" alt="" style="width:200px"></h4>
         <h3>العنوان</h3>
         <p>المملكة العربية السعودية:الرياض 12836, P.O. 245359</p>
         <p>اتصل بنا:+966 9200 04371</p>
         <p>email:info@mustbee.com</p>
          <hr class="border-top my-3">
      </div>
    </div>
  </div>
  </footer>